html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: red;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.footer {
  background-color: red;
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
}

.info-card {

  width: 100%;
  max-width: 420px;
  min-width: 420px;
  padding: 16px;
  display: flex;
  flex-direction: column; 
  gap: 6px;
  background: linear-gradient(135deg, #616767, #4f5555);
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.info-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}


.btn {
    padding: 10px 18px;
  border: none;
  border-radius: 10px;

  background-color: #ff4d4d;
  color: white;
  font-weight: 500;

  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #ff2f2f;
  transform: scale(1.05);
}