.profile-language,
.profile-framework,
.profile-github {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.profile-data:hover {
    background-color: white;
    color: black;
}

.placeholder {
    font-weight: 600;
    color: #aaa;
    min-width: auto;

}

.profile-data {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;

    border-radius: 15px;
    border-style: solid;
    border-color: transparent;

    background-color: red;
    color: white;

    padding: 6px 10px;
    max-width: 300px;

    margin-left: 5px;
    margin-top: 5px;

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease,
        background-color 0.2s ease;
}



.profile-charts {
    background-color: #1e1e1e;
    width: 100%;

}