.profile-card {
  max-width: 380px;
  width: auto;          
  margin: 40px auto;    

  background-color: #1e1e1e;
  border-radius: 16px;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
